div > img {
    height: auto;
    width: 100%;
}

#vidinfo {
    width: 100%;
}

div.content {
    width: 100%
}

#selectedVidDesc {
    width: 100%
}

#selectedVidTitle {
    width: 100%
}
<<<<<<< HEAD


=======
>>>>>>> 11f25f5f046e36d61ad0bc1cf572e7e4c03d3e45
